%ul
  %li
    = link_to "About", "/"
    %ul
      %li= link_to "Team", "/team"
      %li= link_to "Contact", "/contact"
  %li 
    Research
    %ul
      %li Method
      %li Data Sources
      %li= link_to "Sample Results", "/municipalities/top_connections"
      %li= link_to "For Researchers", "/research"
  %li 
    Industrial Cooperation
    %ul
      %li For Companies
      %li Hotspots
      %li Upcoming Workshops
  %li= link_to "Future Development", "/future"
