<!DOCTYPE html>
<html>
<head>
  <title>Alchemist</title>
  <%= stylesheet_link_tag 'heatmaps' %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'heatmap' %>
  <%= javascript_include_tag 'heatmap-gmaps' %>
  <%= javascript_include_tag 'heatmap-alchemist' %>
</head>
<body>
<div id="main">
      <%= yield %>
      <div id="heatmapArea">      
      </div>
      <div id="configArea">
        <div id="tog" class="btn">Toggle HeatmapOverlay</div>
        <div id="gen" class="btn">Add 5 random lat/lng coordinates</div>
      </div>
</div>
</body>
</html>
